.header-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;

  min-height: fit-content;
  max-height: 400px;
}

.img {
  grid-column: 2;

  width: 100%;
  object-fit: cover;
}

.description-header {
  grid-column: 1;
  grid-row: 1;
}

.title {
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
}

.description {
  width: 35ch;
  color: var(--neutral-pale-color);
  font-size: 20px;
  margin-top: 10px;
}
