.header-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;

  min-height: fit-content;
}

.img {
  grid-column: 2;

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description-header {
  grid-column: 1;
  grid-row: 1;
}

.title {
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
}

.description {
  min-width: 100px;
  max-width: 400px;
  color: var(--neutral-pale-color);
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 885px) {
  .header-body {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 100%;
  }
  .description-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description,
  .title {
    text-align: center;
  }
}
