<div class="container">
  <app-header class="element"></app-header>
</div>
<div class="container container--body">
  <app-body class="element"></app-body>
  <app-pre-footer class="element"></app-pre-footer>
</div>
<div class="container container--extra-section">
  <img
    src="../../../assets/images/bg-boost-desktop.svg"
    alt="bg-boost-desktop"
    class="img-extra-section"
  />
  <app-extra-section class="element"></app-extra-section>
</div>
<div class="container container--footer">
  <app-footer class="element"></app-footer>
</div>
