<form class="form">
  <img
    src="../../../../../../assets/images/bg-shorten-desktop.svg"
    class="img"
    alt="background effect"
  />
  <input
    type="text"
    id="targetInput"
    class="input"
    [formControl]="linkControl"
    placeholder="Shorten a link here..."
  />
  <button
    type="button"
    (click)="onSubmit()"
    class="button"
    [disabled]="disabledSubmit"
  >
    Shorten it!
  </button>
  <small
    *ngIf="linkControl.errors?.['required'] && linkControl.touched"
    class="required-error"
  >
    Please add a link
  </small>
</form>
