@import url("https://fonts.google.com/specimen/Poppins");

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: hsl(180, 66%, 49%);
  --primary-dark-color: hsl(257, 27%, 26%);
  --secondary-color: hsl(0, 87%, 67%);

  --neutral-color: hsl(0, 0%, 75%);
  --neutral-pale-color: hsl(257, 7%, 63%);
  --neutral-medium-color: hsl(255, 11%, 22%);
  --neutral-dark-color: hsl(260, 8%, 14%);
}

body {
  margin: 0;
}
