<footer>
  <app-logotype></app-logotype>
  <address>
    <ul>
      <li><h3>Features</h3></li>
      <li><a href="">Link Shortening</a></li>
      <li><a href="">Branded Links</a></li>
      <li><a href="">Analytics</a></li>
    </ul>
  </address>
  <address>
    <ul>
      <li><h3>Resources</h3></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Developers</a></li>
      <li><a href="">Support</a></li>
    </ul>
  </address>
  <address>
    <ul>
      <li><h3>Company</h3></li>
      <li><a href="">About</a></li>
      <li><a href="">Our Team</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </address>
  <address>
    <a href=""><img src="" alt="" /></a>
    <a href=""><img src="" alt="" /></a>
    <a href=""><img src="" alt="" /></a>
    <a href=""><img src="" alt="" /></a>
  </address>
</footer>
