<footer class="footer">
  <app-logotype color="white"></app-logotype>
  <div class="contacts">
    <address>
      <ul class="contact">
        <li><h3 class="title">Features</h3></li>
        <li><a href="" class="link">Link Shortening</a></li>
        <li><a href="" class="link">Branded Links</a></li>
        <li><a href="" class="link">Analytics</a></li>
      </ul>
    </address>
    <address>
      <ul class="contact">
        <li><h3 class="title">Resources</h3></li>
        <li><a href="" class="link">Blog</a></li>
        <li><a href="" class="link">Developers</a></li>
        <li><a href="" class="link">Support</a></li>
      </ul>
    </address>
    <address>
      <ul class="contact">
        <li><h3 class="title">Company</h3></li>
        <li><a href="" class="link">About</a></li>
        <li><a href="" class="link">Our Team</a></li>
        <li><a href="" class="link">Careers</a></li>
        <li><a href="" class="link">Contact</a></li>
      </ul>
    </address>
    <address class="social-media">
      <a href=""
        ><img
          src="../../../../../assets/images/icon-facebook.svg"
          alt="facebook icon"
          class="icon"
      /></a>
      <a href=""
        ><img
          src="../../../../../assets/images/icon-twitter.svg"
          alt="twitter icon"
          class="icon"
      /></a>
      <a href=""
        ><img
          src="../../../../../assets/images/icon-pinterest.svg"
          alt="pinterest icon"
          class="icon"
      /></a>
      <a href=""
        ><img
          src="../../../../../assets/images/icon-instagram.svg"
          alt="instagram icon"
          class="icon"
      /></a>
    </address>
  </div>
</footer>
